<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329173526466-v525f6seltnlpictpgfm1nr7q9u0nr2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329173526466-v525f6seltnlpictpgfm1nr7q9u0nr2n</string>
	<key>API_KEY</key>
	<string>AIzaSyCy_BBS2FDG77hQTSC5Zkfzu6kyOHMSZV8</string>
	<key>GCM_SENDER_ID</key>
	<string>329173526466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pickthree</string>
	<key>PROJECT_ID</key>
	<string>pick-three</string>
	<key>STORAGE_BUCKET</key>
	<string>pick-three.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329173526466:ios:71c199525233af805cd85b</string>
	<key>DATABASE_URL</key>
	<string>https://pick-three.firebaseio.com</string>
</dict>
</plist>